/* myapp/static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; /* Add this line to ensure the header appears above other elements */
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para la barra de navegación lateral */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidenav a:hover {
    background-color: #555;
}

/* Estilos para la barra de navegación superior */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: calc(100% - 250px); /* Ajuste para que la topnav no quede debajo del sidenav */
    left: 250px; /* Alineado con el sidenav */
    top: 0;
}

.topnav-right {
    float: right;
}

.topnav-right a, .topnav-right p {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

.topnav-right a:hover {
    background-color: #555;
}
/* Ajuste para el contenido principal */
.main-content {
    margin-left: 250px; /* Deja espacio para la sidenav */
    padding: 20px;
    padding-top: 500px; /* Ajuste para la topnav */
    min-height: calc(100vh - 100px); /* Ajuste para que el contenido ocupe el espacio restante después de la topnav y footer */
    box-sizing: border-box; /* Incluye el padding y border en el cálculo del tamaño */
    color: black;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
}