{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--<h2>Ventas</h2>
<div class="row mb-3">
    <div class="col">
        <input type="date" class="form-control" id="fecha-filtro">
    </div>
    <div class="col">
        <select class="form-control" id="vendedor-filtro">
            <option value="">Todos los vendedores</option>
            {% for usuario in usuarios %}
            <option value="{{ usuario.id }}">{{ usuario.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <button class="btn btn-primary" id="filtrar">FILTRAR</button>
    </div>
</div>-->
<p class="page_tittle">
    Gestión de Ventas
</p>
<div class="form_filter" id="my_form_filter">
    <button class="addButton" id="openAdd">
        <i class="fas fa-plus-circle"></i>
        <span>Agregar Venta</span>
    </button>
    <button class="excelButton" id="excelButton">
        <i class="fas fa-file-excel"></i>
        <span>Crear excel</span>
    </button>
</div>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th># Venta</th>
            <th>Descripción</th>
            <th>Vendedor</th>
            <th>Fecha de Creación</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody id="ventas-table-body">
        {% for venta in ventas %}
        <tr>
            <td>{{ venta.id }}</td>
            <td><button class="btn btn-link btn-sm ver-detalle" data-venta-id="{{ venta.id }}">...</button></td>
            <td>{{ venta.vendedor.username }}</td>
            <td>{{ venta.fecha_creacion|date:"Y-m-d" }}</td>
            <td>
                <button class="btn btn-danger btn-sm eliminar-venta" data-venta-id="{{ venta.id }}">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}

{{ block.super }}
<script src="{% static 'js/ventas/ventas.js' %}"></script>
{% endblock %}
