{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LIBRERA STOCK{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="LIBRERA STOCK">
        </div>
        <a href="{% url 'home' %}">Dashboard</a>
        <a href="#pedidos">Pedidos</a>
        <a href="#">Inventario</a>
        <a href="{% url 'ventas_list' %}">Ventas</a>
        <a href="{% url 'lista_usuarios' %}">Usuarios</a>
        <a href="#proveedores">Proveedores</a>
        <a href="#ajustes">Ajustes</a>
        <a href="{% url 'logout' %}">Salir</a>
    </div>

    <div id="main" class="main-content">
        <div class="topnav">
            <span style="font-size: 30px; cursor: pointer; color: white; margin-left: 10px;" onclick="toggleNav()">&#9776;</span>

            <div class="topnav-right">
                {% if user.is_authenticated %}
                    <span>  {{ nombre_usuario }} | Administrador</span>
                {% else %}
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div>
    
    <footer>
        <p>&copy; 2024 Django project</p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>

    