{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LIBRERA STOCK{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- aded by Diego  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>                                 <!-- aded by Diego  -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>      <!-- aded by Diego  -->
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="LIBRERA STOCK">
        </div>
        <a href="{% url 'home' %}">Dashboard</a>
        

        <div id="pedidosContainer" class="hidden">
            <a href="">Pedidos</a>
            <div class="link">
                <a href="{% url 'crear_pedidos' %}">Crear Pedido</a>
                <a href="{% url 'listar_pedidos' %}">Lista Pedidos</a>
            </div>
            
        </div>
        
        <a href="{% url 'listar_productos' %}">Inventario</a>
        <a href="">Ventas</a>
        <a href="{% url 'lista_usuarios' %}">Usuarios</a>
        <a href="{% url 'listar_proveedores' %}">Listar Proveedores</a>
        <a href="#ajustes">Ajustes</a>
        <a href="{% url 'logout' %}">Salir</a>
    </div>

    <div id="main" class="main-content">
        <div class="topnav">
            <span style="font-size: 30px; cursor: pointer; color: white; margin-left: 10px;" onclick="toggleNav()">&#9776;</span>

            <div class="topnav-right">
                {% if user.is_authenticated %}
                    <span>  {{ nombre_usuario }} | Administrador</span>
                {% else %}
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div>
    
    <footer>
        <p>&copy; 2024 Django project</p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>
