{% extends "base.html" %}

{% block title %}
Lista de Pedidos
{% endblock %}

{% block content %}
<h2>Registrar Pedido</h2>
<div class="content">
    <a href="{% url 'home' %}">Inicio</a>
    <form action="{% url 'crear_pedidos' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <input type="submit" class="btn btn-success btn-block text-white" value="Guardar">
        </div>
    </form>
    <!-- 
    <script type="text/javascript">
        function actualizar_productos() {
            var proveedor_id = $('#id_proveedor').val();
            $.ajax({
                url: '/actualizar_productos/',  // URL para la vista que actualiza los productos
                data: {
                    'proveedor_id': proveedor_id
                },
                dataType: 'json',
                success: function(data) {
                    $('#id_productos').empty();
                    $.each(data.productos, function(id, nombre) {
                        $('#id_productos').append($('<option></option>').attr('value', id).text(nombre));
                    });
                }
            });
        }
    </script>
    -->
</div>
{% endblock %}